.scroller-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
}

.scroller-container {
  overflow: hidden;
  width: 85%;
}

.scroller {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.card {
  flex: 0 0 calc(32.33% - 20px); 
  margin: 0 10px; 
  color: #fff;
  text-align: center;
  padding: 10px;
  position: relative;
}

.card-image {
  width: 80%;
  height: 300px; 
  object-fit: cover; 
  border-radius: 8px;
}

.card-content {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content h3,
.card-content p {
  margin: 5px 0;
  text-align: left;
}

.discount {
  color: #66ff66;
  font-weight: bold;
}


.vs-button {
  display: inline-block;
  background-color: #555; /* Button color */
  color: white; /* Button text color */
  padding: 4px 12px; /* Padding for button */
  font-size: 12px; /* Font size for button */
  border-radius: 15px; /* Rounded corners */
  margin-right: 10px; /* Space between buttons */
}

.rating-price {
  display: flex;
  justify-content: space-between; /* Space between rating and price */
  align-items: center; /* Center align items */
}

.discount-line {
  height: 2px; /* Line height */
  background-color: grey; /* Line color */
  margin-top: 10px; /* Space above the line */
}

.discount {
  color: #00ff00; /* Discount text color */
  font-weight: bold; /* Bold text */
  margin-top: 10px; /* Space above discount */
  font-size: 14px; /* Font size */
}

.rating {
  margin-left: 10px; /* Space between rating and text */
  font-size: 14px; /* Font size */
  color: #d4af37; /* Gold color for rating */
  vertical-align: middle; /* Vertical alignment */
}

/* Scroll Buttons */
.scroll-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  position: relative;
  z-index: 10;
  transition: color 0.3s ease;
}

.scroll-button.left {
  margin-right: 15px; 
}

.scroll-button.right {
  margin-left: 15px; 
}

.sport-type{
  position: absolute;
  top: 20%;
  left: 100px;
  background: grey;
  border-radius: 10px;
  padding: 6px;
}

@media (max-width: 768px) {
  .card {
    flex: 0 0 calc(43.33% - 20px); 
    margin: 0 10px;
  }

  .card-image {
    height: 250px; 
  }
}

/* Mobile View: 1 card per row */
@media (max-width: 480px) {
  .card {
    flex: 0 0 calc(93.33% - 10px); 
    margin: 0 5px;
  }

  .card-image {
    height: 200px; 
  }
}
