.payment-body {
  margin-left: 200px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: center; */
  padding: 20px;
  background-color: #000;
  min-height: 100vh;
}

.payment-header{
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}


.payment-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
}

.payment-icons img {
  width: 200px;
}

.payment-container {
  background-color: #222;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  width: 500px;
  max-width: 100%;
}

.payment-card {
  margin: 0 auto;
}

.fillup-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.payment-input-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
}

.payment-input-container label {
  color: rgb(170, 169, 169);
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 5px;
}

.payment-input-container input {
  padding: 10px !important;
  font-size: 16px !important;
  border-radius: 5px!important;
  border: 1px solid #6ec207 !important;
 
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  background-color: #00cc44;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #009933;
}

.error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
}

.success-message {
  color: green;
  margin-top: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .payment-container {
    padding: 20px;
    width: 90%;
  }

  .input-row {
    flex-direction: column;
    gap: 10px;
  }

  .payment-icons img {
    width: 50px;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 22px;
  }

  .payment-icons img {
    width: 40px;
  }

  .payment-input-container input {
    font-size: 14px;
  }
}
