h1 {
  margin-bottom: 20px;
}

.add-turf-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
}

.add-turf-button:hover {
  background-color: #0056b3;
}
.total-revenue {
  width: 40%;
  color: white;
}

.turf-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  justify-items: center; 
  align-items: start; 
  width: 100%;
  margin-top: 20px; 
}
.owner-card {
  border-radius: 10px;
  background-color: #333;
}
.charts-revenue {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 20px;
  margin-bottom: 10px;
}
.turf-info {
  padding: 10px;
  text-align: left;
  display: flex;

}

.turf-image-owner{
  width: 90%;
  height: 58%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.view-bookings-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.view-bookings-button:hover {
  background-color: #218838;
}
