.home-first-section {
  display: flex;
  justify-content: space-evenly;
}

.home-first-banner {
  margin-top: 10%;
}

.first-banner-text {
  margin-top: 20%;
  padding: 10px 0px;
  font-size: 40px;
}

.second-banner-text {
  font-size: 20px;
  color: grey;
  padding: 10px 0px;
}

.image-section img {
  max-width: 100%;
  height: auto;
}
.host-the-match {
    margin: 1% 25% 1% 25%;
}
.perfect-turf-card{
    margin: 1% 10% 1% 10%;
    padding: 10px;
}
.perfect-card-data{
    display: flex;
}
.perfect-text1{
    font-size: 38px;
    padding: 5px;
}
.perfect-text2{
    font-size: 20px;
   
    padding: 5px;
}

.perfect-text-card{
    flex: 3;
}
.perfect-images{
    flex: 4;
}
.perfect-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: -10px;
  }
  
  .round-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .round-image img {
    width: 120px; 
    height: 120px; 
    border-radius: 50%;
    border: 2px solid #fff;
    object-fit: cover; 
  }
  .fifth_right-section{
    margin-top: 10%;
  }

@media (max-width: 480px) {
  .home-first-section {
    flex-direction: column;
    align-items: center;
  }

  .first-banner-text {
    font-size: 28px;
    margin-top: 15%;
  }

  .second-banner-text {
    font-size: 16px;
  }

  .round-image img {
    width: 120px; 
    height: 120px; 
    border-radius: 50%;
    border: 2px solid #fff;
    object-fit: cover; 
  }

  .perfect-text1{
    font-size: 38px;
    padding: 5px;
}
}

@media (min-width: 481px) and (max-width: 768px) {
  .home-first-section {
    flex-direction: row;
    align-items: center;
  }

  .first-banner-text {
    font-size: 32px;
    margin-top: 15%;
  }

  .second-banner-text {
    font-size: 18px;
  }
  .round-image img {
    width: 80px;
  }
}
